STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000,http://localhost:9000/app
AUTH_CORS=http://localhost:9000,http://localhost:9000/app,http://localhost:8000
DATABASE_URL=postgres://medusa_user:medusa_password@127.0.0.1:5433/medusa_backend
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=TODO_GENERATE_WITH_OPENSSL_RAND_HEX_32
COOKIE_SECRET=TODO_GENERATE_WITH_OPENSSL_RAND_HEX_32
AUTH_MFA_ENCRYPTION_KEY=TODO_GENERATE_WITH_OPENSSL_RAND_HEX_32
MEDUSA_ADMIN_ONBOARDING_TYPE=default
